page-history {

    .bg-theme {	  
        background: $theme-color !important;
    }
      
    .header {
        &.bg-transparent {
            .toolbar-background {
                background: transparent !important;
            }
        }
      
        &::after {
            display: none;
        }
      
        .toolbar {
            .toolbar-background {
                background-color: $theme-color;
                border: none !important;
            }
      
            .title {
                .toolbar-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $white;
                    display: flex;
                    align-items: center;
                    letter-spacing: .5px !important;
                    text-transform: uppercase;
      
                    ion-icon {
                        font-size: 2.2rem;
                    }
                }
      
                .end {
                    margin-left: auto !important;
      
                }
            }
            
        }
      
        .bar-buttons {
            color: $white;
            z-index: 999;
        }
      
        .back-button {
            color: $white;
            z-index: 999;
      
            //        .ion-md-arrow-back:before {
            //            content: "\f3cf";
            //        }
        }
      
        .toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;
      
                .toolbar-title-ios {
                    text-align: justify;
                }
            }
      
            .bar-buttons-ios {
                color: $white;
            }
      
            .back-button-text {
                display: none;
            }
        }
      
        .bar-button-default:hover:not(.disable-hover) {
            color: lighten($gray, 100%);
        }
      }
      
      /* button style */
      

    

    .group-btn-nav{
        float: right;
        button{
            color: #fff;
            font-weight: 500;
            float: right;
            ion-icon{
                font-size: 1.8rem;
                margin-right: 5px;
            }
            &.cart-nav  ~ .search-nav{
                padding-left: 5px;
                padding-right: 0;
            }
        }
    }

    
}
