
<ion-header>
    <ion-navbar text-center no-border-bottom>
        <ion-title>{{textHeader}}</ion-title>                
    </ion-navbar>       
</ion-header>
    
  <ion-content padding>

    
    <ion-list no-lines>

      <ion-row  *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3">
        <ion-col>
          <ion-item [class.no-border]="platform.is('core')" no-lines>
            <ion-label stacked>{{dataText.startDate}}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-01" doneText="OK" cancelText="{{dataText.cancel}}" [(ngModel)] ="selectedDate"></ion-datetime>        
          </ion-item>                
        </ion-col>

        <ion-col>
          <ion-item [class.no-border]="platform.is('core')" no-lines>
            <ion-label stacked>{{dataText.endDate}}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-01" doneText="OK" cancelText="{{dataText.cancel}}" [(ngModel)] ="selectedDateEnd"></ion-datetime>        
          </ion-item>    
        </ion-col> 
        
      </ion-row>
      
      <ion-row>

        <ion-col>
                  
          <ion-item  no-lines *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3">
            
            <ion-label>{{dataText.clients}}</ion-label>
            <ionic-selectable
              item-content 
              [(ngModel)]="client"
              [items]="clientsWorkersArray"
              itemValueField="uid"              
              itemTextField="name"
              [canSearch]="true"
              (onChange)="clientChange($event)">
            </ionic-selectable>
          </ion-item>
          
    
        </ion-col>       

      </ion-row>

      <ion-row>
        <ion-item>
          <ion-label stacked>Código de identificação</ion-label>
          <ion-input type="text" [(ngModel)]="code" [attr.maxlength]="18" (keyup.enter)="codeChanged()" (ionBlur)="codeChanged()"></ion-input>
        </ion-item>          
      </ion-row>
    

    </ion-list> 

    <ion-list *ngIf="reportsArray.length > 0">           
    
      <ion-card class="trip card" text-wrap *ngFor="let report of reportsArray" no-lines padding>
        
        <p><b>{{dataText.dateRequest}}:</b> {{report.datetime}} </p>
        <p><b>{{dataText.datetime}}:</b> {{report.data}} </p>        
        <p><b>{{dataText.status}}:</b> {{report.statusReport}} </p>

        <ion-row *ngIf="report.statusReport === 'Finalizado'">
          <ion-col>
            <button ion-button full text-uppercase (click)="open(report)" color="secondary"><div>{{dataText.openReport}}</div></button>
          </ion-col>
      </ion-row>  

      </ion-card>
    </ion-list>

    <ion-list *ngIf="worksArray.length > 0"  no-lines no-padding> 

      <br>

      <ion-list-header class="bg-theme text-white" *ngIf="worksArray && worksArray.length > 0">Resumo</ion-list-header>

       <ion-item>
          <p><b>Total apostas:</b> {{totalJobs}} </p>
          <p><b>Total recebido:</b> {{dataText.currency}} {{totalComissionStr}} </p>
          <br>
       </ion-item>       
       
                        
      <ion-list-header class="bg-theme text-white">{{dataText.results}}</ion-list-header>
    
      <ion-card class="trip card" text-wrap *ngFor="let bet of worksArray" no-lines>

            <ion-item no-padding>

              <h1 class="bg-green text-white text-center"    *ngIf="bet.status && bet.status === 'Confirmado'">CONFIRMADA</h1>   
              <h1 class="bg-theme text-white text-center"    *ngIf="bet.status && bet.status === 'Aguardando confirmação'">AGUARDANDO</h1>   

              <p *ngIf="bet.id"><b>Identificador:</b> {{bet.id}} </p>
              <p *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3"><b>{{dataText.clients}}:</b> {{bet.cliente}} </p>
              <p *ngIf="bet.status"><b>{{dataText.status}}:</b> {{bet.status}} </p>
              <p *ngIf="bet.datetimeStr"><b>{{dataText.datetime}}:</b> {{bet.datetimeStr}} </p>
              <p *ngIf="bet.betValueStr"><b>Valor apostado:</b> R${{bet.betValueStr}} </p>
              <p *ngIf="bet.finalValueStr"><b>Valor final:</b> R${{bet.finalValueStr}} </p>

              <p *ngIf="bet.betLink"><b>Compartilhar:</b> <a href={{bet.betLink}}>Clique aqui para compartilhar</a> </p>

              <ion-item *ngFor="let matchh of bet.match" no-lines>

                <h1 class="bg-green text-white text-center"  *ngIf="matchh.odd_casa_ativo   === 1  && matchh.ganhou === 1 && bet.status === 'Confirmado'">Você GANHOU!</h1>   
                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_empate_ativo === 1  && matchh.ganhou === 1 && bet.status === 'Confirmado'">Você PERDEU!</h1>   
                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_fora_ativo   === 1  && matchh.ganhou === 1 && bet.status === 'Confirmado'">Você PERDEU!</h1>

                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_casa_ativo   === 1  && matchh.ganhou === 2 && bet.status === 'Confirmado'">Você PERDEU!</h1>   
                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_empate_ativo === 1  && matchh.ganhou === 2 && bet.status === 'Confirmado'">Você PERDEU!</h1>   
                <h1 class="bg-green text-white text-center"  *ngIf="matchh.odd_fora_ativo   === 1  && matchh.ganhou === 2 && bet.status === 'Confirmado'">Você GANHOU!</h1>

                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_casa_ativo   === 1  && matchh.ganhou === 3 && bet.status === 'Confirmado'">Você PERDEU!</h1>   
                <h1 class="bg-green text-white text-center"  *ngIf="matchh.odd_empate_ativo === 1  && matchh.ganhou === 3 && bet.status === 'Confirmado'">Você GANHOU!</h1>   
                <h1 class="bg-red text-white text-center"    *ngIf="matchh.odd_fora_ativo   === 1  && matchh.ganhou === 3 && bet.status === 'Confirmado'">Você PERDEU!</h1>


                <ion-title *ngIf="!bet.isMultiple && bet.service">{{bet.service}}</ion-title>   
                
                <ion-title *ngIf="matchh.odd_casa_ativo   === 1">Apostou na casa</ion-title>   
                <ion-title *ngIf="matchh.odd_empate_ativo === 1">Apostou em Empate</ion-title>   
                <ion-title *ngIf="matchh.odd_fora_ativo   === 1">Apostou em Fora</ion-title>

                
                

                <p>{{matchh.championship}} </p>
                
                <p>{{matchh.data}} {{matchh.hora}}</p>

                <p *ngIf="! matchh.score_away">{{matchh.time_a}} x {{matchh.time_b}}</p>
                <p *ngIf="matchh.score_away">{{matchh.time_a}} <b>{{matchh.score_home}}</b>x<b>{{matchh.score_away}}</b> {{matchh.time_b}}</p>

                <p *ngIf="matchh.odd_casa_ativo === 1">Cotação: {{matchh.odd_casa}}</p>
                <p *ngIf="matchh.odd_empate_ativo === 1">Cotação: {{matchh.odd_empate}}</p>
                <p *ngIf="matchh.odd_fora_ativo === 1">Cotação: {{matchh.odd_fora}}</p>
                  
              </ion-item>


            <ion-row>                                    

              <ion-col *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3 && bet.status === 'Aguardando confirmação'">
                <button ion-button icon-start clear small (click)="changeStatus(bet)" color="secondary">                                                                            
                    <ion-icon name="clipboard"></ion-icon>                        
                    Confirmado
                </button>
              </ion-col>

              <ion-col  *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3 && bet.status === 'Confirmado'">
                <button ion-button icon-start clear small (click)="changeStatus(bet)" color="danger">                                                                            
                    <ion-icon name="clipboard"></ion-icon>                        
                    Aguardando confirmação
                </button>
              </ion-col>


              <ion-col *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3 && bet.status === 'Confirmado'">
                <button ion-button icon-start clear small (click)="whatsapp(bet)" color="secondary">                                                                            
                    <ion-icon name="logo-whatsapp"></ion-icon>                        
                    Notificar
                </button>
              </ion-col>

            

            </ion-row>

          
          </ion-item>
                                                     
        </ion-card>

    </ion-list>
      
  </ion-content>



  <ion-footer style="margin-left: 10px; margin-right: 10px;">

   
      <ion-row>

        <ion-col>
          <button ion-button full text-uppercase (click)="showHistory()" class="btn bg-theme mrg-bt-10 text-white ">
              <ion-icon name="md-search" style="margin-right: 10px;"></ion-icon> {{dataText.search}}
          </button>
        </ion-col>
  
        <ion-col>
          <button ion-button full text-uppercase (click)="clear()" class="btn bg-theme mrg-bt-10 text-white ">
              <ion-icon name="md-trash" style="margin-right: 10px;"></ion-icon> {{dataText.clear}}
          </button>
        </ion-col>  
  

      </ion-row>
      
      

  </ion-footer>