
<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title> {{dataText.clients}} </ion-title>                

    <ion-buttons end>
      <button ion-button (click)="addClient()" style="color: white;"> {{dataText.addNew}}
      </button>
  </ion-buttons>

  </ion-navbar>

 
</ion-header>

<ion-content padding class="trips detail-bg">

    <ion-list>
      
    <ion-item no-lines>
        <ion-label stacked>{{dataText.order}}</ion-label>  
          <ion-select [(ngModel)]="orderType" (ionChange)="reload()">            
            <ion-option value="1">{{dataText.order1}}</ion-option>
            <ion-option value="2">{{dataText.order2}}</ion-option>
            <ion-option value="3">{{dataText.order3}}</ion-option>
            <ion-option value="4">{{dataText.order4}}</ion-option>
          </ion-select>                          
    </ion-item>

    <ion-item  no-lines>
      <ion-label stacked>{{dataText.selectClient}}</ion-label>
      
      <ionic-selectable
      
        item-content 
        [(ngModel)]="client"
        [items]="usersArray"
        itemValueField="name"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="clientChanged($event)">
      </ionic-selectable>
    </ion-item>


    <ion-card class="trip card" text-wrap *ngFor="let worker of usersArray" no-lines>
      
    <ion-item>

      <ion-avatar item-start>
        <img src="./assets/imgs/logo.png" *ngIf="! worker.url">
        <img src="{{worker.url}}" *ngIf="worker.url">
      </ion-avatar>

      
      <h2>{{worker.name}}</h2>
    
    </ion-item>              
          
    <ion-row>
         
      <ion-col>    
        <button ion-button icon-start clear small (click)="edit(worker)">          
          <ion-icon name="md-clipboard" color="primary"></ion-icon>            
          <div>Editar</div>
        </button>
      </ion-col>

      <ion-col>    
        <button ion-button icon-start clear small (click)="removeUser(worker)">          
          <ion-icon name="md-trash" color="danger"></ion-icon>            
          <div>Remover</div>
        </button>
      </ion-col>
      

    </ion-row>
      
  </ion-card>

  </ion-list>

</ion-content>
