
<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title *ngIf="! isMultiple">Apostas</ion-title>  
    <ion-title *ngIf="isMultiple">Apostas multiplas</ion-title>  
  </ion-navbar>
</ion-header>


<ion-content class="trips detail-bg">
  
  <ion-item>
    <ion-label stacked>Valor da aposta</ion-label>
    <ion-input type="number" [(ngModel)]="betValue" [attr.maxlength]="18" (keyup.enter)="apostaChanged()" (ionBlur)="apostaChanged()"></ion-input>
  </ion-item>  

  <ion-item no-lines *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3">    

    <ion-label stacked>{{dataText.selectClients}}</ion-label>  
    <ion-select [(ngModel)]="client" (ionChange)="clientChanged()">         
      <ion-option *ngFor="let cl of usersClientsArray">{{cl.name}}</ion-option>
    </ion-select>                          
  </ion-item>      

  <ion-list  no-lines no-padding>  

    <ion-card class="trip card" text-wrap no-lines  *ngIf="payload && !isMultiple">

      <ion-card-header color="primary"><ion-title>{{payload.time_a}} x {{payload.time_b}}</ion-title> </ion-card-header>         

      <ion-item no-lines>                           
      
        <p><b>Data: {{payload.data}} {{payload.hora}} </b></p> 
        <p><b>Odd Casa: </b> {{payload.odd_casa}}</p>
        <p><b>Odd Empate: </b> {{payload.odd_empate}}</p>
        <p><b>Odd Visitante: </b> {{payload.odd_fora}}</p>       

        </ion-item>

      <ion-item no-lines>    
        <ion-label stacked>Aposta</ion-label>  

        <ion-select [(ngModel)]="selectedService">
          <ion-option *ngFor="let service of servicesArray">{{service.name}}</ion-option>
        </ion-select>                          

      </ion-item>       

   
      <ion-item>
        <ion-label stacked>Valor da aposta</ion-label><ion-input type="number" [(ngModel)]="finalValue" [attr.maxlength]="18" (keyup.enter)="apostaChanged()" (ionBlur)="apostaChanged()"></ion-input>
      </ion-item>  

      <ion-item>
        <ion-label stacked>Resultado positivo</ion-label><ion-input type="number" [(ngModel)]="finalValueReceived" [attr.maxlength]="18" (keyup.enter)="apostaChanged()" (ionBlur)="apostaChanged()"></ion-input>
      </ion-item>  
                                                                 
    </ion-card>

    


    <ion-card class="trip card" text-wrap no-lines  *ngIf="payload && isMultiple">

      <ion-item text-wrap *ngFor="let match of payload" no-lines no-padding>          

        <ion-list-header color="primary" *ngIf="match.odd_casa_ativo === 1">Casa</ion-list-header>   
        <ion-list-header color="primary" *ngIf="match.odd_empate_ativo === 1">Empate</ion-list-header>   
        <ion-list-header color="primary" *ngIf="match.odd_fora_ativo === 1">Fora</ion-list-header>   

          <p>{{match.championship}} </p>
          <p>{{match.data}} {{match.hora}}</p>
          <p>{{match.time_a}} x {{match.time_b}}</p>
          <p>Vencedor do Encontro</p>
          <p *ngIf="match.odd_casa_ativo === 1">Cotação: {{match.odd_casa}}</p>
          <p *ngIf="match.odd_empate_ativo === 1">Cotação: {{match.odd_empate}}</p>
          <p *ngIf="match.odd_fora_ativo === 1">Cotação: {{match.odd_fora}}</p>

          <ion-row>                

            <ion-col>
              <button ion-button icon-start clear small (click)="DDD(match)" color="danger">
                  <ion-icon name="md-trash"></ion-icon>
                  Remover
              </button>
            </ion-col> 

          </ion-row>
          
                                                   
      </ion-item>
                                                           
    </ion-card>



  </ion-list>    

 
</ion-content>



<ion-footer>  
  
  <ion-list>        
        
      <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="enviaQuickRun()" [disabled]="finalValue <= 0">
        <ion-icon name="md-send"  item-start style="margin-right: 15px;"></ion-icon>Enviar R$ {{finalValue}}
      </button>               

    </ion-list>
        
</ion-footer>