page-bets {

    .bg-theme {	  
        background: $theme-color !important;
    }

    .bg-green {	  
        background: green !important;
    }
         
    .header {
        &.bg-transparent {
            .toolbar-background {
                background: transparent !important;
            }
        }
      
        &::after {
            display: none;
        }
      
        .toolbar {
            .toolbar-background {
                background-color: $theme-color;
                border: none !important;
            }
      
            .title {
                .toolbar-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $white;
                    display: flex;
                    align-items: center;
                    letter-spacing: .5px !important;
                    text-transform: uppercase;
      
                    ion-icon {
                        font-size: 2.2rem;
                    }
                }
      
                .end {
                    margin-left: auto !important;
      
                }
            }
            


            
        }
      
        .bar-buttons {
            color: $white;
            z-index: 999;
        }
      
        .back-button {
            color: $white;
            z-index: 999;
      
            //        .ion-md-arrow-back:before {
            //            content: "\f3cf";
            //        }
        }
      
        .toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;
      
                .toolbar-title-ios {
                    text-align: justify;
                }
            }
      
            .bar-buttons-ios {
                color: $white;
            }
      
            .back-button-text {
                display: none;
            }
        }
      
        .bar-button-default:hover:not(.disable-hover) {
            color: lighten($gray, 100%);
        }
      }
      
      
  .file-input {
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);    
  }  
  
  .file-input.ng-invalid {
    border-bottom-color: transparent;
  }
 
  .file-input.ng-valid {
    border-bottom-color: transparent;
  }
    
  .header {
        
    .banner {
        color: $white;
        padding-top: 15px;

        h4 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 1px;
        }

        h1 {
            margin: 0;
            font-size: 2.8rem;
            font-weight: 700;
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .row {
            margin: 0 auto;
            width: calc(100% - 50px);
            padding-top: 15px;
            padding-bottom: 15px;

            .col {
                padding: 0 10px;
            }

            .button.btn {

                border: 1px solid $white;
                font-weight: 700;
                font-size: 1.3rem;
                font-size: 1.2rem;
                height: 38px;


            }
        }
    }
}

}
