
<ion-header>

  <ion-navbar text-center no-border-bottom>    
    <ion-title>Apostas</ion-title>  
  </ion-navbar>
</ion-header>


<ion-content class="trips detail-bg">
  
  <ion-item>
    <ion-label stacked>Valor da aposta</ion-label>
    <ion-input type="number" [(ngModel)]="betValue"  [disabled]="true"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label stacked>Resultado positivo</ion-label>
    <ion-input type="number" [(ngModel)]="finalValue" [disabled]="true"></ion-input>
  </ion-item>  

  <ion-item no-lines *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3">    

    <ion-label stacked>{{dataText.selectClients}}</ion-label>  
    <ion-select [(ngModel)]="client" (ionChange)="clientChanged()">         
      <ion-option *ngFor="let cl of usersClientsArray">{{cl.name}}</ion-option>
    </ion-select>                          
  </ion-item>      

  <ion-list  no-lines no-padding>     
  
      <ion-card text-wrap *ngFor="let match of payload" no-lines no-padding style="border-top: 0px solid transparent; border-bottom: 0px solid transparent;border-left: 2px solid green;">          
                  
          <ion-title text-wrap>{{match.championship}} </ion-title>
        

          <ion-card-content>



            <p><b>Horário: </b>{{match.data}} {{match.hora}}</p>
            <p><b>Jogo: </b>{{match.time_a}} x {{match.time_b}}</p>

            <ion-item *ngIf="match.odd_casa_ativo === 1 || match.odd_empate_ativo === 1 || match.odd_fora_ativo === 1" style="border-bottom: 0px solid;">

              <h1 *ngIf="match.odd_casa_ativo === 1">Casa GANHA</h1>
              <h1 *ngIf="match.odd_empate_ativo === 1">Empate GANHA</h1>
              <h1 *ngIf="match.odd_fora_ativo === 1">Fora GANHA</h1>

                <p *ngIf="match.odd_casa_ativo === 1"><b>Cotação: </b>{{match.odd_casa}}</p>
                <p *ngIf="match.odd_empate_ativo === 1"><b>Cotação: </b>{{match.odd_empate}}</p>
                <p *ngIf="match.odd_fora_ativo === 1"><b>Cotação: </b>{{match.odd_fora}}</p>      

              </ion-item>

              <ion-item text-wrap *ngFor="let odd of match.allOddsArray" no-lines no-padding  style="border-bottom: 0px solid;">   

                <h1 text-wrap>{{odd.market_name }}</h1>
                <p><b>Apostou em:</b> {{odd.name }} </p>
                <p><b>Cotação:</b> {{odd.odd }} </p>

              </ion-item>
              
          </ion-card-content>


          
                                                                                                              
    </ion-card>



  </ion-list>    

 
</ion-content>



<ion-footer>  
  
  <ion-list>        
        
      <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="enviaQuickRun()" [disabled]="finalValue <= 0">
        <ion-icon name="md-send"  item-start style="margin-right: 15px;"></ion-icon>Enviar R$ {{betValue}}
      </button>               

    </ion-list>
        
</ion-footer>