
<ion-header>

  <ion-navbar text-center no-border-bottom>    
    <ion-title>Apostas</ion-title>  
  </ion-navbar>
</ion-header>


<ion-content class="trips detail-bg">
  
  <ion-item>
    <ion-label stacked>Valor da aposta</ion-label>
    <ion-input type="number" [(ngModel)]="betValue"  [disabled]="true"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label stacked>Resultado positivo</ion-label>
    <ion-input type="number" [(ngModel)]="finalValue" [disabled]="true"></ion-input>
  </ion-item>  

  <ion-item no-lines *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType !== 3">    

    <ion-label stacked>{{dataText.selectClients}}</ion-label>  
    <ion-select [(ngModel)]="client" (ionChange)="clientChanged()">         
      <ion-option *ngFor="let cl of usersClientsArray">{{cl.name}}</ion-option>
    </ion-select>                          
  </ion-item>      

  <ion-list  no-lines no-padding>     
  
    <ion-card class="trip card" text-wrap no-lines  *ngIf="payload">

      <ion-item text-wrap *ngFor="let match of payload" no-lines no-padding>          
        
          <ion-title *ngIf="match.odd_casa_ativo === 1">Casa</ion-title>
          <ion-title *ngIf="match.odd_empate_ativo === 1">Empate</ion-title>
          <ion-title *ngIf="match.odd_fora_ativo === 1">Fora</ion-title>

          <p>{{match.championship}} </p>
          <p>{{match.data}} {{match.hora}}</p>
          <p>{{match.time_a}} x {{match.time_b}}</p>
          <p *ngIf="match.odd_casa_ativo === 1">Cotação: {{match.odd_casa}}</p>
          <p *ngIf="match.odd_empate_ativo === 1">Cotação: {{match.odd_empate}}</p>
          <p *ngIf="match.odd_fora_ativo === 1">Cotação: {{match.odd_fora}}</p>


          <ion-item text-wrap *ngFor="let odd of match.allOddsArray" no-lines no-padding>   

            <ion-title>{{odd.market_name }} </ion-title>
            <p><b>Aposta:</b> {{odd.name }} </p>
            <p><b>Cotação:</b> {{odd.odd }} </p>

          </ion-item>
                                                   
      </ion-item>
                                                           
    </ion-card>



  </ion-list>    

 
</ion-content>



<ion-footer>  
  
  <ion-list>        
        
      <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="enviaQuickRun()" [disabled]="finalValue <= 0">
        <ion-icon name="md-send"  item-start style="margin-right: 15px;"></ion-icon>Enviar R$ {{betValue}}
      </button>               

    </ion-list>
        
</ion-footer>