
<ion-header  class="bg-theme text-white">
  <ion-navbar text-center no-border-bottom>
    
    <ion-title>Jogos</ion-title>     
    
    <ion-buttons end>       
      
      <button ion-button style="color: white" (click)="clear()" class="mrg-bt-10">                          
        LIMPAR
      </button>

      <button ion-button style="color: white" (click)="goPageHistory()" class="mrg-bt-10">                          
        HISTÓRICO
      </button>
      
    </ion-buttons>

  </ion-navbar>     

</ion-header>

<ion-content class="trips detail-bg">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-item  no-lines>
    <ion-label stacked>{{dataText.search}}</ion-label>
    
    <ionic-selectable    
      item-content 
      [(ngModel)]="client"
      [items]="matchesArray"
      itemValueField="name"
      itemTextField="name"
      [canSearch]="true"      
      (onChange)="matchChanged($event)">
    </ionic-selectable>
  </ion-item>



  <ion-item>
    <ion-label stacked>Valor da aposta</ion-label>
    <ion-input type="number" [(ngModel)]="betValue" [attr.maxlength]="18" (keyup.enter)="apostaChanged()" (ionBlur)="apostaChanged()"></ion-input>
  </ion-item>  

  <ion-item>
    <ion-label stacked>Resultado positivo</ion-label>
    <ion-input type="number" [(ngModel)]="finalValue" [disabled]="true"></ion-input>
  </ion-item>  

  <ion-list no-padding  no-lines>    

      <ion-item text-wrap *ngFor="let campeonato of championships" no-lines no-padding>          

            <ion-list-header color="primary">{{campeonato.championship}} </ion-list-header>   

            <ion-item text-wrap *ngFor="let match of campeonato.matches" no-lines no-padding>

              <p style="text-align: center;">{{match.data}} {{match.hora}}</p>
              
  
              <ion-item no-lines style="border-top: 0px;border-bottom: 0px;">

                  <ion-avatar item-start>
                    <img src="./assets/imgs/logo.png" *ngIf="! match.logo_a_path">
                    <img src="{{match.logo_a_path}}" *ngIf="match.logo_a_path">
                  </ion-avatar>
                    
                  <p>{{match.time_a}}</p>

                </ion-item>

                <ion-item no-lines style="border-top: 0px;border-bottom: 0px;">
                 
                  <ion-avatar item-start>
                    <img src="./assets/imgs/logo.png" *ngIf="! match.logo_b_path">
                    <img src="{{match.logo_b_path}}" *ngIf="match.logo_b_path">
                  </ion-avatar>
                  
                  <p>{{match.time_b}}</p>

                </ion-item>
                                                
              <ion-row>                

                <ion-col *ngIf="match.odd_casa_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 1)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      C {{match.odd_casa}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_casa_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 1)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      C {{match.odd_casa}}
                  </button>
                </ion-col>  

  
                <ion-col *ngIf="match.odd_empate_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 2)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      E {{match.odd_empate}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_empate_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 2)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      E {{match.odd_empate}}
                  </button>
                </ion-col> 

  
                <ion-col *ngIf="match.odd_fora_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 3)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      F {{match.odd_fora}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_fora_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 3)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      F {{match.odd_fora}}
                  </button>
                </ion-col> 

                <ion-row *ngFor="let odd of match.allOddsArray">                

                  <ion-col  *ngIf="odd.active" style="margin-left: 15px">
  
                    <button ion-button icon-start clear small (click)="remove(odd, match)" color="secondary">
                      <ion-icon name="md-clipboard"></ion-icon>
                      {{odd.market_name}} {{odd.name}} {{odd.odd}}
                    </button>
                    
                  </ion-col>
                                      
                </ion-row>

                <ion-col *ngIf="match.all_odds">  
                  <button ion-button icon-start clear small (click)="goPageOdds(match)" color="primary">
                      <ion-icon name="md-clipboard"></ion-icon>
                      Todas possibilidades
                  </button>
                </ion-col>  
                
              </ion-row>
             

            </ion-item>
                                         
        </ion-item>
                                                                    

  </ion-list>

</ion-content>

<ion-footer>

  <button ion-button  full (click)="finish()" class="mrg-bt-10" [disabled]="finalValue <= 0 || finalValue <= 0">                          
    FINALIZAR R${{betValue}}
  </button>

</ion-footer>
