__pycache__/
geckodriver.log
name.session
app/Admin/.firebase
app/Admin/.sourcemaps
app/Admin/node_modules/
app/Admin/platforms/
app/Admin/plugins/
app/Admin/www/
app/Admin/functions/node_modules/
.gitignore
app/Admin/src/assets/fonts/
