__pycache__/

app/.firebase
app/.sourcemaps
app/node_modules/
app/platforms/
app/plugins/
app/www/
app/functions/node_modules/
app/src/assets/fonts/


geckodriver.log
name.session
name.session-journal
