<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title *ngIf="!payload"> {{dataText.add}} {{dataText.clients}} </ion-title>                   
    <ion-title *ngIf="payload"> {{dataText.edit}} {{dataText.clients}} </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>  

    <ion-list> 
            
      <form [formGroup]="formGroup" class="pagseguro" no-padding no-margin margin-top>
    
        <ion-item no-lines><ion-label stacked>{{dataText.name}}</ion-label><ion-input type="text" formControlName="name" [attr.maxlength]="40" #nameInput (keyup.enter)="nameInputChanged()"></ion-input></ion-item>                          
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('name').valid && formGroup.get('name').touched && ! formGroup.get('name').hasError('minlength') && !formGroup.get('name').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('name').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('name').hasError('maxlength')">{{dataText.errorRegister2}}</ion-note>        
           
      </form>      

     
    </ion-list>
            
</ion-content>

<ion-footer>  
  <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="save()" *ngIf="! payload">{{dataText.add}}</button>
  <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="save()" *ngIf="payload">{{dataText.update}}</button>
</ion-footer>

