<ion-header class="bg-theme text-white">

    <ion-navbar text-center no-border-bottom>      
      <ion-title> Home </ion-title>
      
      <ion-buttons end>                                   

        <button ion-button style="color: white" (click)="logout()" class="mrg-bt-10">                  
          <ion-icon name="md-exit"  item-start style="margin-right: 15px;"></ion-icon>        
          Sair
        </button>

      </ion-buttons>
  
  </ion-navbar>  
  
  </ion-header>
  
  <ion-content padding>

    <ion-row>
      <ion-item>
        <ion-label stacked>Pesquisa rápida cupom</ion-label>
        <ion-input type="text" [(ngModel)]="code" [attr.maxlength]="18" (keyup.enter)="codeChanged()"></ion-input>
      </ion-item>          
    </ion-row>

    <ion-list padding no-lines>
      

      <ion-card  (click)="goPageRegister()" *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType != 3">
        <img src="assets/imgs/cadastro.png"/>        
      </ion-card>

      <ion-card  (click)="goPageClients()"  *ngIf="dataInfo.userInfo && dataInfo.userInfo.userType != 3">
        <img src="assets/imgs/clientes.png"/>        
      </ion-card>

      <ion-card  (click)="goPageOportunities()">        
        <img src="assets/imgs/asiaticos.png"/>        
      </ion-card>      

      <ion-card  (click)="goHistoryPage()">
        <img src="assets/imgs/fifa.png"/>        
      </ion-card>   
                    
    </ion-list>


    </ion-content>
  