
<ion-header  class="bg-theme text-white">
  <ion-navbar text-center no-border-bottom>
    
    <ion-title>Fifa</ion-title>     

    <ion-buttons end>    
            
      <button ion-button style="color: white" (click)="get()" class="mrg-bt-10">                          
        ATUALIZAR
      </button>
                          

    </ion-buttons>

  </ion-navbar>     

</ion-header>

<ion-content class="trips detail-bg">

  <ion-list padding>    

      <ion-card class="trip card" text-wrap *ngFor="let service of snkrs" no-lines>

        <ion-item>          
          
            <h2>{{service.match[0]}}</h2>

            <p *ngIf="service.datetimeStr"><b>Enviado em:  </b>{{service.datetime}}</p>          
            <p><b>Horários:  </b>{{service.match[1]}}, {{service.match[2]}} {{service.match[3]}} {{service.match[4]}}</p>    
            <p><b>URL:  </b><a href={{service.link}}>Clique para abrir</a></p>              
            
       

        </ion-item>                                      
                          
    </ion-card>    
    

  </ion-list>

</ion-content>
