
<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title>Configurações</ion-title>    
  </ion-navbar>

</ion-header>


<ion-content class="trips detail-bg">

  <ion-list>  

    <ion-list-header color="primary">
      Robôs      
    </ion-list-header>

      <ion-item><ion-label>Pausar todos:</ion-label><ion-toggle [(ngModel)]="stopped"></ion-toggle></ion-item>
      <ion-item><ion-label>Somente salvar:</ion-label><ion-toggle [(ngModel)]="only_save"></ion-toggle></ion-item>
      <ion-item><ion-label>Robô escanteios:</ion-label><ion-toggle [(ngModel)]="robo_megabolt"></ion-toggle></ion-item>
      <ion-item><ion-label>Robô fifa:</ion-label><ion-toggle [(ngModel)]="robo_tirosecovirtual"></ion-toggle></ion-item>
      <ion-item><ion-label>Robô jogador:</ion-label><ion-toggle [(ngModel)]="robo_brunojogador"></ion-toggle></ion-item>
      

    <ion-list-header color="primary">
        Comportamento
    </ion-list-header>

      <ion-item no-lines><ion-label stacked>Valor investimentos R$:</ion-label><ion-input type="number" [(ngModel)]="bet"></ion-input></ion-item>                      
      <ion-item no-lines><ion-label stacked>Valor investimentos fifa  R$:</ion-label><ion-input type="number" [(ngModel)]="bet_fifa"></ion-input></ion-item>                      
      <ion-item no-lines><ion-label stacked>Delay:</ion-label><ion-input type="number" [(ngModel)]="delay"></ion-input></ion-item>
      <ion-item no-lines><ion-label stacked>Delay Inicio:</ion-label><ion-input type="number" [(ngModel)]="delay_start"></ion-input></ion-item>
      <ion-item no-lines><ion-label stacked>Delay Fim:</ion-label><ion-input type="number" [(ngModel)]="delay_end"></ion-input></ion-item>

    
    
    <ion-item no-lines *ngIf="false"><ion-label stacked>Meta dia:</ion-label><ion-input type="number" [(ngModel)]="meta_dia"></ion-input></ion-item>        
    <ion-item no-lines *ngIf="false"><ion-label stacked>Mover mouse baixo:</ion-label><ion-input type="number" [(ngModel)]="move_down_bet"></ion-input></ion-item>
    <ion-item no-lines *ngIf="false"><ion-label stacked>Mover mouse direita:</ion-label><ion-input type="number" [(ngModel)]="move_right_bet"></ion-input></ion-item>

    
    
  </ion-list>    

</ion-content>

<ion-footer>     
    <button *ngIf="!key" ion-button block class="btn" (click)="add()">{{dataText.add}}</button>
    <button *ngIf="key" ion-button block class="btn" (click)="save()">{{dataText.save}}</button>
</ion-footer>