<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title *ngIf="!payload"> {{dataText.add}} {{dataText.clients}} </ion-title>                   
    <ion-title *ngIf="payload"> {{dataText.edit}} {{dataText.clients}} </ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>  

    <ion-list> 
            
      <form [formGroup]="formGroup" class="pagseguro" no-padding no-margin margin-top>

        <ion-item no-lines><ion-label stacked>{{dataText.companyName}}</ion-label><ion-input type="text" formControlName="razaoSocial" [attr.maxlength]="40" (keyup.enter)="razaoSocialInputChanged()" #razaoSocialInput></ion-input></ion-item>
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('razaoSocial').valid && formGroup.get('razaoSocial').touched && ! formGroup.get('razaoSocial').hasError('minlength') && !formGroup.get('razaoSocial').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('razaoSocial').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('razaoSocial').hasError('maxlength')">{{dataText.errorRegister2}}</ion-note>

        <ion-item no-lines><ion-label stacked>{{dataText.cnpj}}</ion-label><ion-input type="text" formControlName="cnpj" [attr.maxlength]="40" (keyup.enter)="cnpjInputChanged()" #cnpjInput></ion-input></ion-item>                          
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('cnpj').valid && formGroup.get('cnpj').touched && ! formGroup.get('cnpj').hasError('minlength') && !formGroup.get('cnpj').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('cnpj').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('cnpj').hasError('maxlength')">{{dataText.errorRegister2}}</ion-note>

        <ion-item no-lines><ion-label stacked>{{dataText.name}}</ion-label><ion-input type="text" formControlName="name" [attr.maxlength]="40" #nameInput (keyup.enter)="nameInputChanged()"></ion-input></ion-item>                          
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('name').valid && formGroup.get('name').touched && ! formGroup.get('name').hasError('minlength') && !formGroup.get('name').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('name').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('name').hasError('maxlength')">{{dataText.errorRegister2}}</ion-note>        

        <ion-item no-lines><ion-label stacked>{{dataText.lastName}}</ion-label><ion-input type="text" formControlName="lastName" [attr.maxlength]="40"  #lastNameInput (keyup.enter)="lastNameInputChanged()"></ion-input></ion-item>                                               
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('lastName').valid && formGroup.get('lastName').touched && ! formGroup.get('lastName').hasError('minlength') && !formGroup.get('lastName').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('lastName').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('lastName').hasError('maxlength')">{{dataText.errorRegister2}}</ion-note>        

        <ion-item no-lines><ion-label stacked>{{dataText.postcode}}</ion-label><ion-input type="text" formControlName="postCode" [attr.maxlength]="8" #complementInput (keyup.enter)="cepInputChanged()"></ion-input></ion-item>                    
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('postCode').valid && formGroup.get('postCode').touched && ! formGroup.get('postCode').hasError('minlength') && !formGroup.get('postCode').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('postCode').hasError('minlength')">{{dataText.errorRegister3}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('postCode').hasError('maxlength')">{{dataText.errorRegister3}}</ion-note>   
        
        <ion-item no-lines><ion-label stacked>{{dataText.address}}</ion-label><ion-input type="text"  formControlName="address" [attr.maxlength]="300"  #addressInput (keyup.enter)="addressInputChanged()"></ion-input></ion-item>
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('address').valid && formGroup.get('address').touched && ! formGroup.get('address').hasError('minlength') && !formGroup.get('address').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('address').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('address').hasError('maxlength')">{{dataText.errorRegister4}}</ion-note>        

        <ion-item no-lines><ion-label stacked>{{dataText.district}}</ion-label><ion-input type="text" formControlName="district" [attr.maxlength]="300" #complementInput (keyup.enter)="districtChanged()"></ion-input></ion-item>            
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('district').valid && formGroup.get('district').touched && ! formGroup.get('district').hasError('minlength') && !formGroup.get('district').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('district').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('district').hasError('maxlength')">{{dataText.errorRegister4}}</ion-note>        

        <ion-item no-lines><ion-label stacked>{{dataText.state}}</ion-label><ion-input type="text" formControlName="state" [attr.maxlength]="20" #complementInput (keyup.enter)="stateChanged()"></ion-input></ion-item>
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('state').valid && formGroup.get('state').touched && ! formGroup.get('state').hasError('minlength') && !formGroup.get('state').hasError('maxlength')">{{dataText.required}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('state').hasError('minlength')">{{dataText.errorRegister5}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('state').hasError('maxlength')">Quantidade de caracteres deve ser menor que 20</ion-note>
        
        <ion-item no-lines><ion-label stacked>{{dataText.city}}</ion-label><ion-input type="text" formControlName="city" [attr.maxlength]="300" #complementInput (keyup.enter)="cityChanged()"></ion-input></ion-item>
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('city').valid && formGroup.get('city').touched && ! formGroup.get('city').hasError('minlength') && !formGroup.get('city').hasError('maxlength')">{{dataText.required}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('city').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('city').hasError('maxlength')">{{dataText.errorRegister4}}</ion-note>
  
        <ion-item no-lines><ion-label stacked>{{dataText.complement}}</ion-label><ion-input type="text" formControlName="complement" [attr.maxlength]="300" #complementInput (keyup.enter)="complementInputChanged()"></ion-input></ion-item>            
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('complement').valid && formGroup.get('complement').touched && ! formGroup.get('complement').hasError('minlength') && !formGroup.get('complement').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('complement').hasError('minlength')">{{dataText.errorRegister1}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('complement').hasError('maxlength')">{{dataText.errorRegister4}}</ion-note>                        

        <ion-item no-lines><ion-label stacked>{{dataText.numberr}}</ion-label><ion-input type="text" formControlName="numero" [attr.maxlength]="5" #complementInput (keyup.enter)="numeroInputChanged()"></ion-input></ion-item>            
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('numero').valid && formGroup.get('numero').touched && ! formGroup.get('numero').hasError('minlength') && !formGroup.get('numero').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('numero').hasError('minlength')">{{dataText.errorRegister6}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('numero').hasError('maxlength')">{{dataText.errorRegister7}}</ion-note>        
       
        <ion-item><ion-label stacked>{{dataText.phone}}</ion-label><ion-input type="tel" formControlName="tel" [attr.maxlength]="11"  #telInput (keyup.enter)="telInputChanged()"></ion-input></ion-item> 
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('tel').valid && formGroup.get('tel').touched && ! formGroup.get('tel').hasError('minlength') && !formGroup.get('tel').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('tel').hasError('minlength')">{{dataText.errorRegister8}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('tel').hasError('maxlength')">{{dataText.errorRegister8}}</ion-note>
              
        <ion-item><ion-label stacked>{{dataText.cpf}}</ion-label><ion-input type="text" formControlName="cpf" [attr.maxlength]="11"  #cpfInput (keyup.enter)="cpfnputChanged()"></ion-input></ion-item>          
        <ion-note margin-left ion-text color="danger" *ngIf="!formGroup.get('cpf').valid && formGroup.get('cpf').touched && ! formGroup.get('cpf').hasError('minlength') && !formGroup.get('cpf').hasError('maxlength')">{{dataText.requestdField}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('cpf').hasError('minlength')">{{dataText.errorRegister8}}</ion-note>
        <ion-note margin-left ion-text color="danger" *ngIf="formGroup.get('cpf').hasError('maxlength')">{{dataText.errorRegister8}}</ion-note>
        
      </form>
      
      <ion-item no-lines *ngIf="tableArray">

        <ion-label stacked>{{dataText.tablePrice}}</ion-label>  

        <ionic-selectable
            item-content 
            [(ngModel)]="tablePrice"
            [items]="tableArray"
            itemValueField="name"
            itemTextField="name"
            [canSearch]="true"
            [isMultiple]="false" 
            (onChange)="tableChanged($event)">
          </ionic-selectable>        

                     
      </ion-item>


      <ion-item no-lines *ngIf="false">
        <ion-label stacked>Ifood Client ID</ion-label>  
        <ion-input class="fs-13" 
        type="text" 
        placeholder="Ifood Client ID" 
        [(ngModel)]="ifoodClientId" 
        (keyup.enter)="ifoodClientIdChanged()"        
        #emailInput>
      </ion-input>
      </ion-item>


      <ion-item no-lines  *ngIf="false"> 
        <ion-label stacked>Ifood Client Secret</ion-label>  
        <ion-input class="fs-13" 
        type="text" 
        placeholder="Ifood Client Secret" 
        [(ngModel)]="ifoodClientSecret" 
        (keyup.enter)="ifoodClientSecretChanged()"        
        #emailInput>
      </ion-input>
    </ion-item>
      
      <ion-item no-lines *ngIf="! uid_">
        <ion-label stacked>{{dataText.email}}</ion-label>  
        <ion-input class="fs-13" 
        type="email" 
        placeholder="Email" 
        [(ngModel)]="email" 
        (keyup.enter)="emailInputChanged()"        
        #emailInput>
      </ion-input>

      </ion-item>     

      <ion-item no-lines *ngIf="! uid_">
        
        <ion-label stacked>{{dataText.password}}</ion-label> 

        <ion-input class="fs-13" 
        type="password" 
        placeholder="{{dataText.password}}" 
        [(ngModel)]="password"
        (keyup.enter)="passwordInputChanged()"        
        #passwordInput>
      </ion-input>

    </ion-item>

      <ion-note margin-left ion-text color="danger" *ngIf="password && password1 && password.length > 0 && password1.length > 0 && password != password1">{{dataText.passwordNotSame}}</ion-note>

      <ion-item no-lines *ngIf="! uid_">

        <ion-label stacked>{{dataText.repeatPassword}}</ion-label>  
          <ion-input class="fs-13" 
          type="password" 
          placeholder="{{dataText.repeatPassword}}" 
          [(ngModel)]="password1" 
          #password1Input>
        </ion-input>

        </ion-item>

                      
    </ion-list>
            
</ion-content>

<ion-footer>  
  <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="signUp()" *ngIf="! uid_">{{dataText.add}}</button>
  <button ion-button block class="btn bg-theme mrg-bt-10 text-white" (click)="save()" *ngIf="uid_">{{dataText.update}}</button>
</ion-footer>

