page-register {


    .bg-theme {	        
        background: $theme-color !important;
    }
    
    textarea{
        height:200px;	
    }

    /* header color */

.header {
    &.bg-transparent {
        .toolbar-background {
            background: transparent !important;
        }
    }

    &::after {
        display: none;
    }

    .toolbar {
        .toolbar-background {
            background-color: $theme-color;
            border: none !important;
        }

        .title {
            .toolbar-title {
                font-size: 1.5rem;
                font-weight: 600;
                color: $white;
                display: flex;
                align-items: center;
                letter-spacing: .5px !important;
                text-transform: uppercase;

                ion-icon {
                    font-size: 2.2rem;
                }
            }

           
        }
    }

    .bar-buttons {
        color: $white;
        z-index: 999;
    }

    .back-button {
        color: $white;
        z-index: 999;

        //        .ion-md-arrow-back:before {
        //            content: "\f3cf";
        //        }
    }

    .toolbar-ios {
        ion-title {
            padding: 0 16px;
            position: unset;

            .toolbar-title-ios {
                text-align: justify;
            }
        }

        .bar-buttons-ios {
            color: $white;
        }

        .back-button-text {
            display: none;
        }
    }

    .bar-button-default:hover:not(.disable-hover) {
        color: lighten($gray, 100%);
    }
}

/* button style */


.button {
    &.btn {
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        height: 42px;
        box-shadow: none;
        background: $theme-color;
        text-transform: uppercase;
        letter-spacing: .6px;


        &:hover:not(.disable-hover) {
            background: $theme-color;
        }

        .button-inner {
            //letter-spacing: 2px;
        }

        &[block] {
            border-radius: 7px;
        }

    }
}

.scroll-content { 
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.user-name {

    color: white;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 1px 2px $menu-shadow-color;
  }

  .button {
    &.btn {
        font-size: 1.3rem;
        font-weight: 500;
        text-transform: uppercase;
        height: 42px;
        box-shadow: none;
        background: $theme-color;
        text-transform: uppercase;
        letter-spacing: .6px;


        &:hover:not(.disable-hover) {
            background: $theme-color;
        }
          

        &[block] {
            border-radius: 7px;
        }

    }
}


}
