
<ion-header  class="bg-theme text-white">
  <ion-navbar text-center no-border-bottom>
    
    <ion-title>Jogos</ion-title>     

    
    <ion-buttons end>                   

      <!--<button ion-button style="color: white" (click)="get()" class="mrg-bt-10">                          
        ATUALIZAR
      </button>-->
      
      <button ion-button style="color: white" (click)="finish()" class="mrg-bt-10">                          
        FINALIZAR R${{finalValue}}
      </button>

    </ion-buttons>

  </ion-navbar>     

</ion-header>

<ion-content class="trips detail-bg">

  <ion-item  no-lines>
    <ion-label stacked>{{dataText.search}}</ion-label>
    
    <ionic-selectable
    
      item-content 
      [(ngModel)]="client"
      [items]="matchesArray"
      itemValueField="name"
      itemTextField="name"
      [canSearch]="true"
      
      (onChange)="matchChanged($event)">
    </ionic-selectable>
  </ion-item>

  <ion-list no-padding>    

      <ion-item text-wrap *ngFor="let campeonato of championships" no-lines no-padding>          

            <ion-list-header color="primary">{{campeonato.championship}} </ion-list-header>   

            <ion-item text-wrap *ngFor="let match of campeonato.matches" no-lines no-padding>

              <ion-col col-2>

                {{match.data}}
                {{match.hora}}
              
              </ion-col>
  
              <ion-col>{{match.time_a}} x {{match.time_b}}</ion-col>
                                        
              <ion-row>                
        

                <ion-col *ngIf="match.odd_casa_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 1)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      C {{match.odd_casa}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_casa_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 1)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      C {{match.odd_casa}}
                  </button>
                </ion-col>  

  
                <ion-col *ngIf="match.odd_empate_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 2)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      E {{match.odd_empate}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_empate_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 2)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      E {{match.odd_empate}}
                  </button>
                </ion-col> 

  
                <ion-col *ngIf="match.odd_fora_ativo === 0">
                  <button ion-button icon-start clear small (click)="addBet(match, 3)" color="primary">
                      <ion-icon name="md-home"></ion-icon>
                      F {{match.odd_fora}}
                  </button>
                </ion-col> 
                
                <ion-col *ngIf="match.odd_fora_ativo === 1">
                  <button ion-button icon-start clear small (click)="addBet(match, 3)" color="secondary">
                      <ion-icon name="md-home"></ion-icon>
                      F {{match.odd_fora}}
                  </button>
                </ion-col> 


                <ion-col>  
                  <button ion-button icon-start clear small (click)="goPageBets(match)" color="secondary">
                      <ion-icon name="md-clipboard"></ion-icon>
                      Verificar todas
                  </button>
                </ion-col>  
                
              </ion-row>

            </ion-item>
            
            

                 
        </ion-item>
                                                                    

  </ion-list>

</ion-content>
