
<ion-header  class="bg-theme text-white">
  <ion-navbar text-center no-border-bottom>
    
    <ion-title>Escanteios</ion-title>     

    <ion-buttons end>       
      
      <button ion-button style="color: white" (click)="get()" class="mrg-bt-10">                          
        ATUALIZAR
      </button>
                     
      <button ion-button style="color: white" (click)="changeStatusRobot()" class="mrg-bt-10" *ngIf="!stopped">                          
        PARAR
      </button>

      <button ion-button style="color: white" (click)="changeStatusRobot()" class="mrg-bt-10" *ngIf="stopped">                          
        INICIAR
      </button>

    </ion-buttons>

  </ion-navbar>     

</ion-header>

<ion-content class="trips detail-bg">

  <ion-list padding>    

      <ion-card class="trip card" text-wrap *ngFor="let service of snkrs" no-lines>

        <ion-item>

          <ion-avatar item-start>

            <img src="https://cdn.discordapp.com/avatars/822263995524055070/db0befcb10561deb6d68f9f3529d0623.webp?size=128" *ngIf="! service.thumbnail">
            <img src="{{service.thumbnail}}" *ngIf="service.thumbnail">
          </ion-avatar>
          
            <h2>{{service.match}}</h2>

            <p *ngIf="service.datetime"><b>Atualizado em:  </b>{{service.datetime}}</p>          
            <p><b>URL:  </b><a href={{service.link}}>Clique para abrir</a></p>              
            <p *ngIf="service.status"><b>Status:  </b>{{service.status}}</p>

            <p *ngIf="service.bet"><b>Investimento:  </b>R${{service.bet}}</p>

            
            <p *ngIf="service.match"><b>Palavra-chave:  </b>{{service.match}}</p>
            <p *ngIf="service.msgShow"><b>Mensagem:  </b>{{service.msg}}</p>    

          <ion-row>  
              
            <ion-col>              
              <button ion-button icon-start clear small (click)="changeBet(service)" color="danger" [disabled]="service.status === 'Clicando em Escanteios Asiaticos' 
                || service.status === 'Anulado' || service.status === 'Adicionando valor do investimento' || service.status === 'Finalizado'"> 
                  <ion-icon name="md-cash"></ion-icon>
                <div>Mudar bet</div>
              </button>
            </ion-col> 
            

            <ion-col>
              <button ion-button icon-start clear small (click)="anular(service)" color="danger"  [disabled]="service.status === 'Clicando em Escanteios Asiaticos' 
              || service.status === 'Anulado' || service.status === 'Adicionando valor do investimento' || service.status === 'Finalizado'">
                  <ion-icon name="clipboard"></ion-icon>
                 Anular
              </button>
            </ion-col>  
  

            <ion-col *ngIf="! service.msgShow">
                <button ion-button icon-start clear small (click)="expand(service)">
                    <ion-icon name="arrow-down"></ion-icon>
                   Mostrar informações
                </button>
            </ion-col>      
  
            <ion-col *ngIf="service.msgShow">
              <button ion-button icon-start clear small (click)="expand(service)">
                  <ion-icon name="arrow-up"></ion-icon>                  
                 Esconder informações
              </button>
          </ion-col>   
  
          </ion-row>

        </ion-item>
            
        

        
          
                          
    </ion-card>    
    

  </ion-list>

</ion-content>
